* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

/* Nav Bar*/
.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
.nav {

}
.nav__logo {

}
.nav__logo--img {

}
.nav__logo--title {
  font-size: 26px;  
  font-weight: 600;
 
}
.nav__links {
  
}