@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}
button {
  cursor: pointer;
  border: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

img {
  width: 100%
}

.btn {
   background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

p {
font-size: 18px;
line-height: 1.5;
}
a {
  text-decoration: none;
}

/* 

NAVBAR ↓

*/
  
nav {
  display: flex;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}
.nav__logo--img {
  width: 40px;
  height: 40px;
}
.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}
.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}
.nav__link {
  font-size: 14px;
  font-weight: 600;
  margin: 0 24px;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
  text-decoration: none;
}
.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: #fff;
  background-color: #6415ff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
  text-decoration: none;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/
h1 {
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 12px 0 12px 0;
}
header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__description {
  width: 40%;
}
.header__email--btn, .header__email--input {
    border-radius: 500px;
}


.header__img--wrapper {
  width: 60%;
}
.header__img {
  width:100%;
  max-width: 768px;
}


.header__customers {
  margin-top: 16px;
  padding-right: 128px;
opacity: .5;
}
.header__email,
.header__email--input  {
height: 68px;
}
.header__email {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.header__email--btn {
      z-index: 2;
      position: relative;
    margin: 8px;
    height: calc(100% - 16px);
    
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}
.header__email--input {
  width: 100%;
  position: absolute;
 border-radius: 500px;
 padding-left: 24px;
}

.header__email--btn,
.header__email--input {
  border-radius: 500px;
} 
.header__email--btn:hover {
    background-color: rgba(60, 13, 153);
}
/* 

FEATURES ↓*/

#quality__section--title {
  line-height: 1.25;
}

.section__para {
  line-height: 1.625;
  font-size: 18px;
  
  max-width: 576px;
  color: #7c8ba1
}


.section__tag {
font-size: 16px;
font-weight: 700;
letter-spacing: 1.6px;
}

.section__title {
font-size: 48px;
font-weight: 900;
margin: 16px 0;
letter-spacing: 0.025em;
}


#features .section__title, 
#pricing .section__title {
    text-align: center;
}
#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature {
display: flex;
width: calc(100% / 3)
}
 .features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

 }
 .feature__row {
width: 100%;
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: flex-start;
padding: 32px 24px;
 }
 .feature__img--wrapper {
  display: flex;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
  padding: 20px;

 }
 .feature__text {
font-size: 18px;
margin-top: 8px;
margin-left: 16px;
 }

 .feature__para {
  display: flex;
  flex-direction: column;
  font-size: 16px;
 }
.feature__img {
  width: 24px;
  height: 24px;
}

/* 

QUALITY WORK ↓

*/





#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#quality .btn {
  margin-top: 32px

}
#quality .section__title,
#values .section__title { 
  line-height: 1.25;
}
.quality__description,
.quality__img--wrapper {
  width: 50%;
}

.quality__description {
  max-width: 576px;
 margin-right: 64px;
}
.quality__img--wrapper {
  border-radius: 4px;
      border: 1px solid rgb(229, 231, 235);
      position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}


/* 

STEPS ↓

*/



.steps__description,
.steps__img--wrapper {
width: 50%;
}
#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__img--wrapper {
display: flex;
position:relative;
}
.steps__grid {
  position:absolute;
  bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: currentColor;
}
.steps__img {
  z-index: 2;
}
.steps__description {
  padding: 32px 0;
  padding-left: 64px;
}
.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}
.step__number {
  color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}
.step__description {
display: flex;
flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}
.step__title {
      font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}
.step__para {
  font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}



/* 

VALUES ↓

*/
#values .section__title {
      margin-top: 16px;
    margin-bottom: 32px;
}

#values .btn {
    margin-top: 48px;
}
#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.values_description,
.values__img {
  width: 50%;
}

.values_description {
  padding: 32px 64px 32px 0;
}
.values__list {
  display: flex;    
  margin-left: 0px;
    margin-right: 0px;
    max-width: none;
    flex-direction: row;
}
.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}
.value:nth-of-type(2) {
    margin-top: 32px;
}

.value__img--wrapper {
      border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value__title {
      display: flex;
    align-items: center;
}
.value {
      margin-top: 2rem;
    margin-right: 2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.value__img {
  width: 20px;
    height: 20px;
}
.value__name {
      margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
      margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}
.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}
/*

PRICING ↓

*/

.plan:nth-child(odd) .plan__name, .plan:nth-child(odd) .plan__price, .plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan__name, 
.plan__price,
 .plan__duration {
    font-weight: bold;
    line-height: 1.625;
    }
    .plan:nth-child(1) .plan__middle, .plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}
#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pricing .section__para {
  max-width: 576px;
  text-align: center;
}
.plans {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
      justify-content: space-between;
}
.plan {
position: relative;
margin-top: 4rem;
display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.plan__stripe {
      position: absolute;
          left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__top {
  display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}
.plan__name {
  font-size: 20px;

}
.plan__price {
    font-size: 48px;
    margin: 4px 0;
}


.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}
.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
    }
    .plan__target {
      font-size: 20px;
          font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
    }
.plan_feature {
      margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}
.plan__bottom {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.plan__button {
    border-radius: 0.25rem;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}
.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}
.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}
/* 

TESTIMONIALS ↓

*/
#testimonials .section__title {
    margin-bottom: 24px;
    line-height: 1.25;
}
#testimonials .row {
  display: flex;
  margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    align-items: center;
    justify-content: space-between;
}
#testimonials .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.testimonials__img, 
.testimonials__description {
    width: 50%;
}

.testimonials__description {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}
.testimonial {
    margin-top: 40px;
}
.testimonial__rating {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
    }
   .fa-solid, .fas {
    font-weight: 900;
     color: rgba(246, 173, 85);
}
    .testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}
.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}
.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}
.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.testimonial__details {
    margin-left: 24px;
}
.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}
.testimonial__buttons {
    display: flex;
    align-items: center;
}
.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
}
.testimonial__button svg {
    width: 16px;
    height: 16px;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

* 
/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
}
.start__title, .start__buttons {
    width: 50%;
}
.start__container {
  background-color: rgb(100, 21, 255);
      width: 100%;
      padding: 96px 0;
border-radius: 8px;
display: flex;
    justify-content: center;
    align-items: center;
}
.start__row {
  width: 100%;
      margin: 0 auto;
      max-width: 1024px;
    padding: 0 32px;
        display: flex;
    justify-content: center;
    align-items: center;
}
.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}
.start__buttons {
    display: flex;
    justify-content: flex-end;
}
.start__button:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms ease;
}

    .start__button:nth-child(2) {
    border: 1px solid rgb(100, 21, 255);
    transition: all 300ms ease;
}
 .start__button:hover:nth-child(2) {
    background-color: rgba(247, 250, 252);
    color: rgba(100, 21, 255);
}
  

    .start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
   background-color; #5011cc
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
    }

/* 

FOOTER ↓

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}
.footer__columns {
  margin-top: -48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__column {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}
.footer__title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}
.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
.footer__column--link:nth-child(2) {
    margin-top: 24px;
}
.footer__column--link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms ease;
    opacity: 0;
}
.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}
.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
}
.footer__socials--link svg {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: flex-end;
}
.footer__bottom {
      display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo {
    display: flex;
    align-items: center;
}
.footer__logo--img {
    height: 32px;
    width: 32px;
}
.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}
.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}
.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}
.footer__socials--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
    
}
/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
      .testimonials__img {
        width: 40%;
    }

}


@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
      .header__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



@media (max-width: 1280px) {
    .header__description--para {
        font-size: 16px;
    }
        .header__customers {
        padding-right: 64px;
    }
}




@media (max-width: 1024px) {
    h1 {
        font-size: 30px;
    }
        .header__description--para {
        margin: 20px 0;
    }
        .header__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .header__customers {
        padding-right: 0px;
    }
        .header__customers--title, .header__img--wrapper {
        margin-top: 48px;
    }
}


@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
      .header__email--btn {
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
        margin-bottom: 0px;
        line-height: 1.5;
    }
        .header__email--input {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }
    .header__email--input,
     .header__email--btn {
        display: flex;
        
        width: 100%;
        flex-wrap: wrap;
    }
    .header__customers--title {
        font-size: 14px;
        letter-spacing: 0.05em;
    }
}

