* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

/* Nav Bar*/
.nav__row {

}
.row {

}
.nav__logo {

}
.nav__logo--img {

}
.nav__logo--title {
    
}